div.card{
  width: 348px;
  height: 384px;
  &__media{
    height: 196px;
    position: relative;
  }
  &__chip-list {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  &__chip {
    &:not(:last-child){
      margin-right: 8px;
    }
  }
}
