@import '../../colors/variables';
.recipe {
  padding: 0 98px;
  display: flex;
  &__column{
    flex: 1;
    &:not(:last-child){
      margin-right: 20px;
    }
  }
  &__ingredients{
    margin-left: 2px !important;
    list-style: initial !important;
    margin-bottom: 32px !important;
  }
  &__instructions-circle{
    border-radius: 50%;
    border: 1px solid $shade20;
    padding: 2px 5px;
    margin-right: 8px !important;
  }
  &__instructions-item {
    padding-left: 0 !important;
  }
}

.metadata{
  margin-top: 16px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  &__item{
    display: flex;
    &:not(:last-child){
      margin-right: 33px;
    }
  }
  &__icon{
    margin-right: 10px;
  }
}
.images{
  &__main-image{
    width: 532px;
    height: 355px;
  }
  &__other-images{
    margin-top: 16px;

  }
  &__sub-image, &__sub-image_active{
    width: 56px;
    height: 56px;
    cursor: pointer;
    &:not(:last-child){
      margin-right: 8px;
    }
  }
  &__sub-image_active{
    border: 2px solid $base0;
    box-sizing: border-box;
  }
}
